ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 4px;
  }
  
  .shining {
    animation: shine 5s ease-in-out infinite;
  }
  
  @keyframes shine {
    0% {
      text-shadow: 
        0 0 10px #fff, 
        0 0 20px #ff00ff, 
        0 0 40px #ff00ff, 
        0 0 60px #ff00ff, 
        0 0 80px #ff00ff, 
        0 0 100px #ff00ff, 
        0 0 150px #ff00ff;
    }
    50% {
      text-shadow: 
        0 0 20px #ff0, 
        0 0 40px #ff00ff, 
        0 0 60px #ff00ff, 
        0 0 80px #ff00ff, 
        0 0 100px #ff00ff, 
        0 0 150px #ff00ff, 
        0 0 200px #ff00ff;
    }
    100% {
      text-shadow: 
        0 0 10px #fff, 
        0 0 20px #ff00ff, 
        0 0 40px #ff00ff, 
        0 0 60px #ff00ff, 
        0 0 80px #ff00ff, 
        0 0 100px #ff00ff, 
        0 0 150px #ff00ff;
    }
  }
  